ci:
    skip: [tests, ty]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: uv run ty check
        language: system
        pass_filenames: false
        always_run: true
      - id: tests
        name: Run tests
        entry: uv run pytest
        language: system
        pass_filenames: false
        always_run: true
